/* Styles in view.php */
.courseboard_main{
    overflow:auto;
}
.courseboard_noposts{
    margin-top:10%;
    margin-bottom:20%;
}
/* Styles in renderer.php */

.courseboard_nameinputdescription{
    font-size:11.9px;
    color:#999;
    cursor:default;
}

.courseboard_authoranddate{
    font-size:13px;
    color:#999;
}

.courseboard_postinputfield{
    margin-top:1%;
}

.courseboard_emptyFieldWarning{
    display:none;
    color:red;
}

.courseboard_commShowbtns{
    margin-top:3%;
}

.courseboard_post{
    margin-top:2%;
}

.courseboard_commHidebtns{
    display:none;
}

.courseboard_comments{
    display:none;
    margin-left:15%;
}

/* Styles in courseboard_ajax.php */

.courseboard_postsloading{
    display:none;
}